APP_NAME=AirFusion AI
APP_ENV=development

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.4-nano

MOENV_API_KEY=
CWA_API_KEY=

MQTT_BROKER_URL=mqtt://broker.emqx.io:1883
MQTT_TOPIC=city/taipei/wenshan/sensor01/pm25

DEFAULT_LAT=24.996222
DEFAULT_LON=121.576211
DEFAULT_RADIUS_KM=3
